body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header,
footer {
    background-color: #222;
    color: white;
    padding: 1em;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 0.5em;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 2em;
}

section {
    background-color: white;
    padding: 1.5em;
    margin-bottom: 2em;
    border-radius: 10px;
}

video {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 1em auto;
}